torch
seqeval==0.0.12
pytorch-crf==0.7.2
transformers==4.6.1 # 2.7.0
textacy
numpy
scispacy==0.4.0
spacy==3.0.1
wandb
nltk
coloredlogs
jsonpickle
latex2mathml
xmljson
lxml
xmltodict
termcolor
gunicorn
colorama
matplotlib
configparser
sentencepiece
cargo

https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.4.0/en_core_sci_md-0.4.0.tar.gz
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz
